<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ENLIST | Home</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
    <!-- Bootstrap CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <!-- Font Awesome JS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/home.css" />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3><img src="/images/logo.png" width="50px" alt="" /> ENLIST</h3>
          <strong>EN</strong>
        </div>

        <ul class="list-unstyled components">
          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-home"></i>
              <span>Home</span>
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a href="#">Home 1</a>
              </li>
              <li>
                <a href="#">Home 2</a>
              </li>
              <li>
                <a href="#">Home 3</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-briefcase"></i>
              <span>About</span>
            </a>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-copy"></i>
              <span>Class</span>
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                <a href="/tasks/class"><%= metadata._class %> </a>
              </li>
              <li>
                <a href="/tasks/division"><%= metadata._division %></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/tasks/personal">
              <i class="fas fa-question"></i>
              <span>Personal</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-image"></i>
              <span>Portfolio</span>
            </a>
          </li>
          
          <li>
            <a href="#">
              <i class="fas fa-paper-plane shadow-lg"></i>
              <span>Contact</span>
            </a>
          </li>
        </ul>
      </nav>

      <!-- Page Content  -->
      <div id="content">
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-toggle">
              <i class="fas fa-align-left"></i>
              <!-- <span>Toggle Sidebar</span> -->
            </button>
            <h2 class="justify-content-between">CS- <%= metadata.group %></h2>
            <h6><%= user.name %> </h6>
            <h6><%= user.email %> </h6>
            <img src="<%= user.picture %> " alt="..." class="rounded-circle">
            <div class="dropleft justify-content-end">
              <i class="fas fa-cog fa-2x dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/templates/settings.html"><i class="fas fa-sliders-h"></i>&nbsp; Settings</a>
                <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i>&nbsp; Logout</a>
              </div>
            </div>
          </div>
        </nav>

        <div class="container">
          <!-- FORM -->
          <div class="jumbotron jumbotron-fluid col-md-8 py-4 mx-auto shadow p-3 mb-5 bg-white rounded">
            <% if ((metadata.standard) === 'class'){%>
            <form id="add_task_class">
              <%} %>
            <% if ((metadata.standard) === 'division'){%>
            <form id="add_task_division">
                  <%} %>
            <% if ((metadata.standard) === 'personal'){%>
            <form id="add_task_personal">
                  <%} %>      

              <div class="form-row justify-content-center">
                <div class="col-md-5">
                  <input type="text" class="form-control input" name="title" placeholder="Title" />
                </div>
                <div class="col-md-3">
                  <input type="date" name="date" class="form-control input" />
                </div>
              </div>
              <div class="form-row justify-content-center my-3">
                <div class="input-group-prepend">
                  <div class="input-group-text border-dark border-right-0 rounded-0">
                    <input type="radio" aria-label="radio" name="personal" checked />
                  </div>
                  <span class="input-group-text input rounded-0" id="inputGroup-sizing-sm">Personal</span>
                </div>

                <div class="input-group-prepend">
                  <div class="input-group-text border-dark rounded-0">
                    <input type="radio" aria-label="radio" name="shared" />
                  </div>
                  <span class="input-group-text input rounded-0" id="inputGroup-sizing-sm">Shared</span>
                </div>
              </div>
              <div class="form-row justify-content-center">
                <div class="col-md-8">
                  <textarea class="form-control input" aria-label="With textarea" name="description" placeholder="Description"></textarea>
                </div>
              </div>
              <button type="submit" class="btn btn-danger">Add Task</button>
            </form>
          </div>

          <div class="d-flex justify-content-center">
            <div class="d-block justify-content-center m-0 p-0 task-list">
              <% if(tasks.length === 0) { %>
              <h1>Empty list</h1>
              <% }else{ %> <% tasks.map((task) => {%>

              <div class="task-details" data-toggle="modal" data-target="#modal_aside_right">
                <div class="col-1">
                  <a href="#">
                    <i class="far fa-check-circle fa-hover-hidden"></i>
                    <i class="fas fa-check-circle fa-hover-show"> </i>
                  </a>
                </div>
                <div class="col-11 task-content">
                  <div class="col-md-9 col-sm-12 task-title"><%= task.title %></div>
                  <div class="col-md-3 col-sm-12 task-date text-end"><%= task.date %></div>
                </div>
              </div>

              <% }) %>
              <div class="task-details task-1" data-toggle="modal" data-target="#modal_aside_right">
                <div class="col-1">
                  <a href="#">
                    <i class="far fa-check-circle fa-hover-hidden"></i>
                    <i class="fas fa-check-circle fa-hover-show"> </i>
                  </a>
                </div>
                <div class="col-11 task-content">
                  <div class="col-md-9 col-sm-12 task-title">DS Lab 8</div>
                  <div class="col-md-3 col-sm-12 task-date text-end">5 May 2021</div>
                </div>
              </div>
              <div class="task-details task-2" data-toggle="modal" data-target="#modal_aside_right">
                <div class="col-1">
                  <a href="#">
                    <i class="far fa-check-circle fa-hover-hidden"></i>
                    <i class="fas fa-check-circle fa-hover-show"> </i>
                  </a>
                </div>
                <div class="col-11 task-content">
                  <div class="col-md-9 col-sm-12 task-title">DS Lab 9 </div>
                  <div class="col-md-3 col-sm-12 task-date text-end">5 May 2021</div>
                </div>
              </div>

              <div class="task-details task-3" data-toggle="modal" data-target="#modal_aside_right">
                <div class="col-1">
                  <a href="#">
                    <i class="far fa-check-circle fa-hover-hidden"></i>
                    <i class="fas fa-check-circle fa-hover-show"> </i>
                  </a>
                </div>
                <div class="col-11 task-content">
                  <div class="col-md-9 col-sm-12 task-title">DS Lab 10</div>
                  <div class="col-md-3 col-sm-12 task-date text-end">5 May 2021</div>
                </div>
              </div>
              <% } %>
            </div>
          </div>

          <button data-toggle="toast" data-target="#liveToast" type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

          <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 10; right: 0; bottom: 0">
            <div id="liveToast" class="toast hide bg-body" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
              <div class="toast-header bg-danger text-white">
                <strong class="mr-auto">ENLIST</strong>
                <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body"> Your task has been deleted. </div>
            </div>
          </div>

          <button data-toggle="modal" data-target="#modal_aside_right" class="btn btn-primary" type="button"> Modal aside right </button>

          <div id="modal_aside_right" class="modal fixed-left fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-aside" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Details</h4>
                  <button type="button" data-dismiss="modal" aria-label="Close" class="btn">
                    <i class="fas fa-window-close fa-lg"></i>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="formGroupExampleInput" class="small text-muted font-weight-bold">Task Title</label>
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder" value="DS Lab 10" />
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2" class="small text-muted font-weight-bold">Task Description</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder" value="DS Lab 10 karna hai" />
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput3" class="small text-muted font-weight-bold">Deadline</label>
                      <input type="date" name="date" class="form-control" id="formGroupExampleInput3" />
                    </div>
                  </form>
                  <div>
                    <button class="btn btn-success">Done ✅</button>
                  </div>
                </div>
                <div class="modal-footer align-middle justify-content-between">
                  <i class="far fa-trash-alt"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-trash-alt"></i>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
            <!-- modal-bialog .// -->
          </div>
          <!-- modal.// -->
        </div>
      </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#sidebarCollapse").on("click", function () {
          $("#sidebar").toggleClass("active");
        });
      });

      $("#liveToast").toast("show");
    </script>
    <script src="/js/main.js"></script>
  </body>
</html>
